body {
  background: radial-gradient(
      circle at 50% 20%,
      rgba(255, 255, 255, 0.8),
      rgba(200, 220, 255, 0.6),
      rgba(150, 180, 255, 0.4),
      rgba(190, 200, 240, 0.4)
  );
  min-height: 100vh;
}
